#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  list-style: none;
}

li:nth-child(1n){
  margin-top: .5rem;
  background-color: #ffeded;
}

li:nth-child(2n){
  background-color: #ffc7c7;
}

.completed{
  text-decoration: line-through;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
